{% extends "base.html" %}
{% block content %}
{% load static %}
<main class="">
    <h2>最新の投稿</h2>
    <section class="list_image">
        <div class="list_image_box">
        {% for fish_info in fish_new_list %}
            <a href="{% url 'fish_info' fish_info.id %}">
            {% if fish_info.preview %}            
                <div class="list_image_item">
                    <div>
                        <div>{{ fish_info.name }}</div>
                        <img src="{{ fish_info.preview.url }}" alt="{{ fish_info.name }}" width="100%">
                    </div>
                </div>
            {% endif %}
            </a>
        {% endfor %}
        </div>
    </section>

</main>
{% endblock %}