{% extends "base.html" %}

{% block content %}
{% load static %}
<main class="form_table_box">
<div class="form_table_item">
    <h2 style="margin-top: 40px;">ログイン画面</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="color_red" style="text-align: center;">{% if error_message %}{{error_message}}{% endif %}</div>
        <table>
            <tr class="form_table">
                <th><label for="{{login_form.username.id_for_label}}" class="form_input">{{ login_form.username.label }}</label></th>
                <td>{{ login_form.username }}</td>
            </tr>
            <tr class="form_table">
                <th><label for="{{login_form.password.id_for_label}}" class="form_input">{{ login_form.password.label }}</label></th>
                <td>{{ login_form.password }}</td>
            </tr>
        </table>
        <!--{{ login_form.as_p }}-->
        <div class="center"><input class="button_css" type="submit" value="ログイン"></div>
        <a class="header_link center" href="{% url 'register' %}">
            <div id="register_link">新規会員登録（１分ほどで登録！）</div>
        </a>
    </form>
</div>
</main>
{% endblock %}