{% extends "base.html" %}

{% block content %}
{% load static %}
<main id="privacy">
<div style="max-width: 700px; padding-bottom: 30px;">

    <h2>利用規約</h2>

    <h3>禁止行為について</h3>
    ・第三者の財産、プライバシーポリシーの侵害、肖像権の侵害、わいせつ的発言、
    暴力的内容、許可されていない文書、犯罪に関する内容または以下の内容の禁止行為
    ・悪質な内容を設定、投稿した会員のアカウントの凍結や、投稿内容の
    一部を変更をさせていただくことがあります。
    
    <h3>画像の取り扱い</h3>
    ・投稿する際の画像の注意点、ショッキングな画像、
    ・本サービスにて、会員同士のトラブル、投稿情報によるクレームにつき、
    当運営は一切の責任を負いません。
    ・賠償など、金銭的問題は、当サイトでは一切関与いたしません。
    ・熱帯魚飼育には、当サイトを参考にしつつ、細心の注意を払って管理を
    していただくようお願い申し上げます。
    ・当サイト上での、誹謗中傷、暴力的、性的、誤っている情報などあれば
    こちらで内容を訂正、削除させていただくことがあります。
    ・当サイトのサービス上でのアイコンの内容を修正、削除させて頂くことがあります。
    
    <h3>法人の方の投稿について</h3>
    ・商用として、当サイトを利用することは可能になります。
    基本的には自由に使っていただいて構いません。
    
    <h3>投稿する際の注意点</h3>
    ・画像データを管理する際、自分以外（熱帯魚ショップ、ブリーダーなど）が
    飼育している魚の情報を投稿する際は、許可を取って利用してください。
    ・他の、サイト、第三者の情報や、画像を利用する場合はそのサイトや、
    第三者の利用規約に乗っ取り、許可に値を得てから投稿するようお願いします
    ・会員は、前項に違反する行為をすることが原則でできません。万が一
    上記の内容につき違反があった場合、当サイトでは、一切の責任を負いかねます。
    細心の注意を払って管理をしていただくようお願い申し上げます。
    
    <h3>当サービス上の情報の引用について</h3>
    ・当サイトの情報を引用し、拡散することは基本的に可能です。
    ・商用利用する際には、当サイトまでお問い合わせ下さい。
    ・情報は確かでないものもありますので、それを考慮したのち注意して利用してください。
    ・他のサイトから当サイトへのリンクを張ることは可能です
    
    <h3>当サービスの運営について</h3>
    ・当社は、以下のいずれかの事由が生じた場合に、会員に事前に通知することなく、
    一時的、または、永続的にサービスを中断することができるものとします。
    
    1.会員サービス設備の保守を緊急に行う場合
    2.火災、停電などにより会員サービスの提供ができなくなった場合
    3.地震、噴火、洪水、津波などの天災により会員サービスの提供ができなくなった場合
    4.戦争、変乱、暴動、騒乱、労働争議等により会員サービスの提供ができなくなった場合
    5.その他、運用上または技術上当社が会員サービスの一時的な中断が必要と判断した場合
    
    <h3>サービスの料金について</h3>
    ・会員の登録料は無料とします。登録料以外に料金が発生する場合は、
    別途利用料金を定めて会員に明示します。
    
    <h3>損害賠償等</h3>
    ・当サイトは上記のいかなる場合でのトラブルでも損害賠償義務を負わないものとします。
    ・違反行為等あった場合にこちらから損害賠償を請求させていただくことがあります。
    
    <h3>プライバシーポリシー</h3>
    ・会員の個人情報は、主にシステムを円滑に利用するために使われます
    ・第三者への情報の開示は基本的にないものとします。
    ・事件、警察関係、その他、開示。
    個人情報を開示する場合は本人への同意が必要とする
    
    ・投稿した情報（画像、文章、その他情報など）は一般に公開されます。
    その際に利用した画像についての肖像権はないものとします。
    
    ・当サービスでアクセス解析を行うために、cookieを利用します。
    
    上記の規約は2024年03月01から実施いたします。
</div>
</main>
{% endblock %}