{% extends "base.html" %}

{% block content %}
<main class="center">
    <section style="margin-top: 80px;">
        <h2>パスワード変更</h2>

        {% if error_message %}
        <div class="center">
            <span class="error-message">{{ error_message }}</span>
        </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            {% for field in password_form.visible_fields %}
            <table>
                <tr class="form_table">
                    <th style="width: 160px;">{{ field.label }}</th>
                    <td>{{ field }}</td>
                </tr>
            </table>
            {% endfor %}
            
            <div class="center">
                <button type="submit" class="button_css">変更</button>
            </div>
        </form>
    </section>
</main>
{% endblock %}
