{% extends "base.html" %}

{% block content %}
<main>
<section class="center">
    <div>
        <div class="center" style="margin-top: 80px;">
            <h1>ユーザー情報の編集</h1>
        </div>

        {% if error_message %}
        <div class="center">
            <span class="error-message">{{ error_message }}</span>
        </div>
        {% endif %}
        
        <form method="post">
            {% csrf_token %}
            <table>
                <tr class="form_table">
                    <th>ユーザー名</th><td>{{ user_form.username }}</td>
                </tr>
                <tr class="form_table">
                    <th style="padding: 10px 0;">メールアドレス</th><td>{{ user_form.email }}</td>
                </tr>
            </table>
            <div class="center">
                <button type="submit" class="button_css">更新</button>
            </div>
        </form>
    </div>
</section>
</main>
{% endblock %}
